.wrapper {
  display: flex;
}
.side {
  background-color: #253141;
  height: 100vh;
  width: 300px;
}
.side-top {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
}
.side-low {
  background-color:  #2f3e5f;
  height: calc(100% - 100px);
  padding: 0 20px;
}

.main {
  background-color: #ffffff;
  width: calc(100vw - 300px);
}
.main-top {
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
}
.main-middle {
  background-color: #fafafa;
  height: calc(100% - 190px);
  padding-top: 46px;
  padding: 0 40px;
}
.main-bottom {
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
}
